<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
      <form class="list">
            <label class="item item-input">
                <span class="input-label" style="padding-right:75px">Name</span>
                <h5>{{fName}}</h5>
            </label>
             <label class="item item-input">
                <span class="input-label" style="padding-right:75px">Last Name</span>
                <h5>{{lName}}</h5>
            </label>
             <label class="item item-input">
                <span class="input-label" style="padding-right:75px">E-Mail</span>
                <h5>{{email}}</h5>
            </label>
        </form>
    </ion-list>
  </ion-content>
</ion-view>
